{% extends 'base.jinja' %}

{% block title %}
About - ASD Screening
{% endblock %}

{% block content %}
<div class="center">
    <div class="about">
        <h1>Apa itu ASD</h1>
        <p>Autism spectrum disorder (ASD) refers to a range of 
        conditions characterised by some degree of impaired social behaviour, 
        communication and language, and a narrow range of interests and activities 
        that are both unique to the individual and carried out repetitively</p>
        <div class="gambar-asd">
            <img src="/static/img/asd-behaviour.jpg" alt="" width="571" height="321">
        </div>
        <h1>Fakta Kunci</h1>
        <p>One in 160 children has an autism spectrum disorder (ASD)</p>
        <p>ASDs begin in childhood and tend to persist into adolescence and adulthood.</p>
        <p>While some people with ASD can live independently, others have severe disabilities and require life-long care and support.</p>
        <p>Evidence-based psychosocial interventions, such as behavioural treatment and parent skills training programmes, can reduce difficulties in communication and social behaviour, with a positive impact on well-being and quality of life for persons with ASD and their caregivers</p>
        <p>Interventions for people with ASD need to be accompanied by broader actions for making physical, social and attitudinal environments more accessible, inclusive and supportive</p>
        <p>Worldwide, people with ASD are often subject to stigma, discrimination and human rights violations. Globally, access to services and support for people with ASD is inadequate</p>
    </div>
</div>

{% endblock %}